body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 12vh 18vw 7vh 18vw;
}

.question {
    padding-bottom: 30px;
    background-color: white;
    transition: transform .4s;
    /* border: olive; */
}

.question:hover {
    transform: scale(1.1); 
    color: olive;
  }

.question_in_box {
    font-size: 12pt;
}

.hidden {
    font-style: gray;
    font-size: 10pt;
}

.explanation {
    padding-bottom: 5px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: green;
}

.city {
    list-style: disc;
}

img {
    width: 300px;
    height: 300px;
}


.artist .pop1 {
    color: blue;
    background-color: lightgray;
}

.artist .pop2 {
    color: white;
    background-color: #aa9888;
}

.artist .electro_house {
    color: gray;
    background-color: black;
}

.cp1 {
    color: red;
}

.cp1 {
    color: red;
}

.cp2 {
    color: orange;
}

.cp3 {
    color: yellow;
}

.cp4 {
    color: green;
}

.cp5 {
    color: skyblue;
}

.cp6 {
    color: blue;
}

.cp7 {
    color: navy;
}

.cp8 {
    color: purple;
}

.artist .rock:hover {
    background-color: black;
}

.artist .pop3 {
    color:white;
    background-color: #5ec8d8;
}

.artist .pop3:hover {
    color: black;
    background-color: #5ec8d8;
}

.artist .kpop {
    background-color: pink;
    color: blue;
}

.artist .kpop:hover {
    background-color: blue;
    color: pink;
}

.emoji1 {
    position: fixed;
    top: 30px;
    left: 1px;
}

.emoji2 {
    position: fixed;
    bottom: 1px;
    left: 1px;
}

.emoji5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji5 a{
    color: black;
}