@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

h1,
h2 {
  all: unset;
}

html,
body {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #1b1b1b;
  padding: 49px 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body.minimum .level .select .minimum, body.medium .level .select .medium, body.maximum .level .select .maximum {
  font-size: 18px;
}
body .top_info {
  display: flex;
  justify-content: space-between;
}
body .top_info .title {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-style: normal;
}
body .top_info .title h1 {
  font-size: 38px;
}
body .top_info .title h2 {
  font-size: 30px;
}
body .top_info .notice {
  border: 1px solid #fff;
  font-weight: 400;
  font-size: 16px;
  padding: 25px 20px;
  max-width: 360px;
}
body .level {
  padding-bottom: 20vh;
}
body .level .title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 19px;
}
body .level .select {
  border-left: 1px solid #ffffff;
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-left: 7px;
}
body .level .select div {
  cursor: pointer;
  width: 150px;
}
body .level .select div:hover {
  font-size: 18px;
}
body .status {
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
}
body .status .range {
  margin-bottom: 21px;
  margin-top: auto;
}
body .status .range .title {
  font-weight: 700;
  font-size: 24px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  display: inline;
}
body .status .range .circles {
  display: flex;
  text-align: center;
  margin-top: 22px;
}
body .status .range .circles .circle {
  margin-top: auto;
}
body .status .range .circles .circle img {
  margin: 0 auto;
}
body .status .range .circles .circle .num {
  font-weight: 300;
  font-size: 18px;
  margin-top: 7px;
}
body .status .range .circles .circle_1 {
  margin-right: 15px;
}
body .status .range .circles .circle_2 {
  margin-right: 20px;
}
body .status .range .circles .circle_3 {
  margin-right: 25px;
}
body .status .range .circles .circle_4 {
  margin-right: 30px;
}
body .status .avg {
  border: 1px solid #fff;
  font-weight: 400;
  font-size: 16px;
  padding: 25px 20px;
  margin-bottom: 30px;
}
body .status .avg .title {
  font-weight: 700;
  font-size: 18px;
}
body .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .content .item {
  position: absolute;
  padding-left: 184px;
  transform-origin: 0 50%;
  display: flex;
  width: 450px;
}
body .content .item .charge {
  white-space: nowrap;
  font-weight: 400;
  font-size: 12px;
  margin: 0 3px;
}
body .content .item .charge.false {
  color: #232323;
}
body .content .item .dot_line {
  border-top: 1px dotted #ffffff;
  width: 300px;
  position: relative;
  margin-top: 6px;
  z-index: 1;
}
body .content .item .dot_line.false {
  border-color: #232323;
}
body .content .bubble {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
body .content .bubble.true {
  z-index: -2;
  cursor: unset;
}
body .content .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
body .content .desc .percentage {
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 30px;
}
body .content .desc .text {
  font-weight: 400;
  font-size: 16px;
  width: 300px;
  height: 40px;
}
body .content .guide {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  animation: blink 2s cubic-bezier(.17,.67,.83,.67) infinite;
}

@media (min-width: 2000px) {
  body .top_info .title h1 {
    font-size: 50px;
  }
  body .top_info .title h2 {
    font-size: 40px;
  }
  body .top_info .notice {
    font-size: 16px;
    padding: 30px 25px;
    max-width: 400px;
  }
  body .level {
    transform: scale(1.3);
    padding-left: 11vw;
  }
  body .status {
    transform: scale(1.3);
    margin: 0 11vw;
  }
  body .content {
    transform: scale(1.2);
  }
}
@media (max-width: 1600px) {
  body {
    padding: 30px 20px;
  }
  body .top_info .title h1 {
    font-size: 30px;
  }
  body .top_info .title h2 {
    font-size: 24px;
  }
  body .top_info .notice {
    font-size: 16px;
    padding: 20px 15px;
    max-width: 300px;
  }
  body .level {
    transform: scale(0.9);
    position: relative;
    left: -4vw;
  }
  body .status .range {
    transform: scale(0.7);
    position: relative;
    left: -3vw;
    bottom: -10px;
  }
  body .status .avg {
    transform: scale(0.7);
    position: relative;
    bottom: -10px;
    right: -3vw;
  }
  body .content {
    transform: scale(0.7);
  }
}
@media (max-width: 1200px) {
  body {
    padding: 30px 0;
  }
  body .top_info {
    padding: 0 20px;
  }
  body .top_info .title h1 {
    font-size: 24px;
  }
  body .top_info .title h2 {
    font-size: 20px;
  }
  body .top_info .notice {
    border: 0.5px solid #fff;
    font-size: 14px;
    padding: 15px 10px;
    max-width: 260px;
  }
  body .level {
    transform: scale(0.7);
    position: absolute;
    top: 60px;
    left: -5px;
  }
  body .content {
    transform: scale(0.5);
  }
}
@media (max-width: 768px) {
  body .top_info .title h1 {
    font-size: 20px;
  }
  body .top_info .title h2 {
    font-size: 16px;
  }
  body .top_info .notice {
    font-size: 10px;
    padding: 10px 7px;
    max-width: 109px;
  }
  body .status .range {
    transform: scale(0.5);
    position: fixed;
    bottom: -10px;
    left: -75px;
  }
  body .status .avg {
    transform: scale(0.8);
    padding: 10px 8px;
    font-size: 10px;
    margin-bottom: 40px;
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  body .status .avg .title {
    font-size: 12px;
  }
  body .content {
    transform: scale(0.4);
  }
}

/*# sourceMappingURL=style.css.map */
