@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Passion+One:wght@700&family=Rokkitt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

body {
  overflow: hidden;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #cfd0e3,
    #9dbaf7,
    #5f80b6,
    #344f85,
    #284474
  );
  background-size: 600%;
  background-position: 0 0;
  height: 100%;
  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}

@keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;
  font-size: 35px;
  gap: 300px;
  font-family: "Abril Fatface";
}

.bigtext {
  font-size: 50px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh;
}

img {
  width: 700px;
}

.text1 {
  position: absolute;
  top: 40px;
  left: 450px;
  color: white;

  font-size: 20px;
  font-family: "Vidaloka", serif;
}

.text1_2 {
  font-size: 35px;
}

.text2 {
  position: absolute;
  top: 440px;
  left: 850px;
  color: white;

  font-size: 38px;
  font-family: "Passion One";
}

.truman {
  position: absolute;
  background-color: transparent;
  padding: 140px 30px;

  top: 260px;
  left: 550px;
}

.footer_text {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  height: 5vh;
  /* margin-top: 10px; */
  font-size: 18px;
  gap: 350px;
  font-family: "Abril Fatface";
}

.hover_img1,
.hover_img2,
.hover_img3,
.hover_img4,
.hover_img5,
.hover_img6 {
  display: none;
}

/* image hover effect */

.f_left:hover {
  color: green;
}

.f_right:hover {
  color: red;
}

.bigtext:hover .hover_img1 {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 300px;

  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_right:hover .hover_img2 {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 300px;

  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text1:hover .hover_img3 {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 300px;

  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.truman:hover .hover_img4 {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 300px;

  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text2:hover .hover_img5 {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 300px;

  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span:hover .hover_img6 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;

  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
